@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row hide">

	<div class="col-md-6">
		<div class="panel panel-default articles">
			<div class="panel-heading">Latest News</div>
			<div class="panel-body articles-container">
				<div class="article border-bottom">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2 col-md-2 date">
								<div class="large">30</div>
								<div class="text-muted">Jun</div>
							</div>
							<div class="col-xs-10 col-md-10">
								<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
						
				<div class="article border-bottom">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2 col-md-2 date">
								<div class="large">28</div>
								<div class="text-muted">Jun</div>
							</div>
							<div class="col-xs-10 col-md-10">
								<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
						
				<div class="article">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2 col-md-2 date">
								<div class="large">24</div>
								<div class="text-muted">Jun</div>
							</div>
							<div class="col-xs-10 col-md-10">
								<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

    <div class="col-md-6">
		<div class="panel panel-default articles">
			<div class="panel-heading">New Faces</div>
			<div class="panel-body articles-container">
				<div class="article border-bottom">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2 col-md-2 date">
								<img src="/App_Themes/images/jake.jpg" width="100%" height="100%" />
							</div>
							<div class="col-xs-10 col-md-10">
								<h4><a href="#">Jacob Torio</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
						
				<div class="article border-bottom">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2 col-md-2 date">
								<img src="/App_Themes/images/marisol.jpg" width="100%" height="100%" />
							</div>
							<div class="col-xs-10 col-md-10">
								<h4><a href="#">Marisol Del Mundo</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
						
				<div class="article">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-2 col-md-2 date">
								<img src="/App_Themes/images/marlo.jpg" width="100%" height="100%" />
							</div>
							<div class="col-xs-10 col-md-10">
								<h4><a href="#">Carlos Martin Espedido</a></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

</div>