@{
    ViewBag.Title = "Create Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
                <em class="fa fa-lg fa-money">&nbsp;</em>
                Reimbursement
                <ul class="pull-right panel-settings panel-button-tab-right">
				    <li class="">
                        <a class="pull-right" href="@Url.Content("~/Service/Request/Reimbursement")" aria-expanded="false">                            
					        <em class="fa fa-plus"></em>
				        </a>
                    </li>
                </ul>
			</div>
            <div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus...</p>
			</div>
		</div>
	</div>

</div>